<!--
lets put header grahpic in the filter bar
so the whole fitler can remain fixed on scroll

-->
  <div id="filters">

    <div id="title" class="span-8">
      <h3>STUBSPY</h3>
    </div>

    filters
  </div>


<div id="movies" class="prepend-top">



  <div id="results" class="span-19 push-5 last">
    results
    <%= @ml.listings %>
  </div>
</div>
