<div id="filters_wrap" class="span-4">

  <div id="title" class="span-4 prepend-top push-1">
    <h3>STUBSPY</h3>
  </div>

  <div id="filters" class="push-1">
    filters
  </div>

</div>


<div id="controls_wrap" class="span-18 push-5">

  <div id="controls" class="span-18">
    controls
  </div>

  <div id="social" class="span-3 push-15 last">
    social links here
  </div>
</div>


<div id="movies" class="push-4">

  <div id="results" class="span-18 push-1 last">
    results
    <%= @ml.listings %>
  </div>

</div>
