<div id="filters_wrap" class="span-4 pull-1">

  <div id="title" class="span-4 prepend-top push-1">
    <h3>STUBSPY</h3>
  </div>

  <div id="filters" class="push-1">
    filters
  </div>

</div>


<div id="controls_wrap" class="span-18 push-5">

  <div id="controls" class="span-18">
    controls
  </div>

  <div id="social" class="span-3 push-15 last">
    social links here
  </div>
</div>


<div id="results_wrap" class="push-4">

  <div id="results" class="span-18 push-1 last">


<!-- sample iteration -->
    <% @ml.listings.each do |theater| %>
    <br><br>
      <em><%= theater[:tname] %></em>

      <br>
      <% theater[:list].each do |movie_times| %>
      
        <% movie_times[:movie_times].each do |res| %>
         <%= res.name %>
	<% end %>
	<br><br>

     <% end %>

    <% end %>

  </div>

</div>
