
<div id="description" class="span-23 push-1">

  <div id="features" class="span-14 push-1 prepend-top">
    <ul>
      <li>Plan a day at the movies</li>
      <li>Sneak into another movie muhuhahhahha</li>
    </ul>
  </div>

  <div id="screenshot" class="span-8 prepend-top append-bottom last">
    <p style="text-align:center;">here lies a screenshot</p>
  </div>
</div>
