
<div id="splash">

  <%= render 'description' %>


  <div id="browse" class="span-23 push-1">
    <p>browse</p>
  </div>

  <div id="android" class="span-23 push-1">
    <p>android</p>
  </div>


<!-- fonts
www.abstractfonts.com
bazar, medium
market deco
talldeco
-->

</div>
