// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "pages.css.scss";

#filters_wrap {
    @include boxes($desc_bg, $border_radius, $desc_border, $shadow);
    @include header(h3, 1.4em);
    position:fixed;
    height: 100%;
}

#controls_wrap {
    position: fixed;
    background-color: #aaa;
    border: 1px solid black;

    @include social(0em);
    z-index: 100;
    height: 5em;
    #times_wrap {

    }
    .times_header {
	position: absolute;
    }
}

#results {
    @include boxes(#fff, $border_radius, $desc_border, $shadow);
    color: black;
    height: 100%;
    min-height: 780px;
    margin-top: 3.5em;
}

.movies {
    border-top: 1px solid red;
    font-size: .8em;
    height: 48px;

    .movie {
	position: absolute;
	background-color: #aaa;
	border-radius: 4px;
	margin-top: 4px;
    }
}
