// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Bazar';
  src: font-url('Bazar.ttf');
  font-weight: normal;
  font-style: normal;
}

$main_bg: #990000;

body {
	background-color: $main_bg;
	color: white;
}

$title_size: 4em;
$shadow_size: 4px;

#header {

	h1 {
	   font-family: 'Bazar';
	   font-size: $title_size;
	   color: gold;
	   text-shadow: $shadow_size $shadow_size $shadow_size black;
	}

	#social {
	   margin-top:$title_size;
	   text-align:right;
	}
}

$box_shadow_size: 1px;
$desc_bg: #840000;
$desc_border: #600000;
$shadow: $box_shadow_size $box_shadow_size 2px $desc_border;
$border_radius: 0.2em;

#description, #android {
	margin-top: -1em;
	background-color: $desc_bg;

	border: 1px solid $desc_border;
	border-radius: $border_radius;
	-moz-border-radius: $border_radius;

	font-size: 1em;
	
	#box-shadow: $shadow;
	#-moz-box-shadow: $shadow;

	     #features {

	     }	     
	     #screenshot {
	     	height: 200px;
		border: 1px solid black;
	     }	     

	     form {
		 background-color: $main_bg;
		 border-radius: $border_radius;
		 border: 1px solid $desc_border;

	     }
	     fieldset {
		 color: white;
		 border: none;
		 margin-bottom: -1em;
	     }
	     legend {
		 #font-family: 'Bazar';
		 #color: gold;
		 #text-shadow: 1px 1px 1px black;
	     }
}

.button {
    border:none;
    background-color: gold;
    font-size: 1.2em;
    cursor:pointer;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    box-shadow: 2px 2px 4px #AD3333;
    -moz-box-shadow: 2px 2px 4px #AD3333;

    margin-top: 6px;
    padding: 4px 8px;

    &:hover {
	background-color: #FFDF33;
    }

    &:active {
	background-position: 0 top;
	position: relative;
	top: 1px;

    }
}




