<div id="header" class="span-24">

  <% unless @movie_view %>

  <div id="title" class="span-8 push-1 prepend-top">
    <h1>STUBSPY</h1>
  </div>

  <div id="social" class="span-16 last">
    social links here
  </div>

  <% end %>

</div>
